*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    text-decoration: none;
}

html,body{
    background: #fff !important;
    color: black !important;
    font-size: 16px;
    font-family: Math;
}

.navbar {
    background-color: #343333;
    height: 120px;
}

.logo h1 {
    font-size: 30px;
    padding: 35px 0px 0px 550px;
    color: white;
}

.navbar ul {
    position: absolute;
    top: 40px;
    right: 30px;
}

.navbar li{
    display: inline;
    margin-left: 40px;
}

.navbar li a{
    color: white;
    font-size: 20px;
}   

.menu-content h2 {
    margin: 30px 0 0 20px;
    font-size: 30px;
    font-weight: 800;
}

.menu-content ul {
    margin: 20px 0 0 60px;
    font-size: 20px;
}

.special-content h2 {
    margin: 30px 0 0 20px;
    font-size: 30px;
    font-weight: 800;
}

.special-content ul {
    margin: 20px 0 0 60px;
    font-size: 20px;
}

.about-content h2 {
    margin: 30px 0 0 20px;
    font-size: 30px;
    font-weight: 800;
}

.about-content p{
    padding: 20px 20px;
    font-size: 20px;
}

.contact-content h2 {
    margin: 0 0 0 20px;
    font-size: 30px;
    font-weight: 800;
}

.contact-content p{
    padding: 20px 20px;
    font-size: 20px;
}

.form{
    margin: 10px 0 0 20px;
}

#text, #email, #msg{
    padding: 3px;
    border: 1px solid grey;
    border-radius: 3px;
}

.form button{
    padding: 3px;
    cursor: pointer;
}

.gallery-content h2 {
    font-weight: 800;
    text-align: center;
    margin: 30px 0 0 0 ;
    font-size: 30px;
}

.gallery-posts{
    text-align: center;
}

.gallery-posts img {
    height: 300px;
    width: 300px;
    margin: 20px 10px 10px 10px;
}

.monial h2 {
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    margin: 50px 0px 0px 0px;
}

.monial-1{
    text-align: center;
    margin: 20px 0 0 0;
}

#em1{
    display: block;
    text-align: center;
    padding: 10px 0;
}

.monial-2{
    text-align: center;
}

#em2{
    display: block;
    text-align: center;
    padding: 10px 0;
}

.monial-3{
    text-align: center;
}

#em3{
    display: block;
    text-align: center;
    padding: 10px 0;
}

.monial-4{
    text-align: center;
}

#em4{
    display: block;
    text-align: center;
    padding: 10px 0;
}

.monial-5{
    text-align: center;
}

#em5{
    display: block;
    text-align: center;
    padding: 10px 0;
}

.monial-6{
    text-align: center;
}

#em6{
    display: block;
    text-align: center;
    padding: 10px 0;
}

.foot {
    background-color: #343333;
    width: 100%;
    margin: 30px 0 0 0;
}

.foot p {
    font-size: 20px;
    color: white;
    padding: 25px 10px;
    text-align: center;
}

/* here, We Start Mobile Responsive Designs */

@media screen and (max-width: 600px) {

    .navbar {
        background-color: #343333;
        height: 500px;
        width: 208%;
    }

    .logo h1 {
        position: static;
        text-align: center;
        padding: 80px 0 0 0;
        font-size: 50px;
    }

}